.dashboard {
  padding: 35px;
}

.title {
  margin-bottom: 15px;
}

.list {
  list-style: none;
}

.list-item {
  text-align: left;
}

.run-scan {
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}